@media(min-width:1440px) {

    .open-btn,
    .burger-menu {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .cont {
        max-width: 100vw;
        background-image: url(./assets/body-bg-des.png);
        background-size: 750px;
        padding: 64px 0 125px 165px;
    }

    .cont>section,
    .cont>header {
        padding-right: 165px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 157px;
        margin-top: 124px;
    }

    figure {
        order: 1;
    }

}