@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --h1-h2-p-font-color: #242942;
    --span-color: #FFFFFF;
    --section-a-bg: #FF5E5E;
    --ul-a-color: #242942;
    --dot-bg: #979797;
    --burger-menu-bg: #FFFFFF;
    --line-bg: #979797;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100dvh;
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
}

.cont {
    background-image: url(./assets/body-bg-mob.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    max-width: 425px;
    height: auto;
    margin: 0 auto;
    padding: 38px 0 87px 32px;
    text-align: left;


}

.cont>header,
.cont>section {
    padding-right: 32px;
}

img,
picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main {
    width: 100%;
    height: auto;
    margin-top: 64px;
    display: grid;
    gap: 87px;
}

figure {
    display: flex;
    justify-content: flex-end;

}

button {
    background: transparent;
    outline: none;
    border: none;
}

section {
    width: 100%;
    max-width: 311px;
    display: grid;
    gap: 16px;
}

.section-header,
.section-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

h2 {
    color: var(--h1-h2-p-font-color);
    opacity: 50%;
    letter-spacing: 5px;
    line-height: 120%;
    font-weight: 400;
    font-size: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}

p {
    color: var(--h1-h2-p-font-color);
    line-height: 145%;
    font-size: 18px;
    font-weight: 400;
    width: 276px;
    font-family: "Barlow", sans-serif;
}

.section-footer {
    margin-top: 16px;
}

a {

    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    cursor: pointer;
}

section a {

    padding: 11px 21px;
    background-color: var(--section-a-bg);
    border-radius: 5px;


}

span {
    display: inline-block;
    color: var(--span-color);
    font-size: 15px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 1px;
}

a+h2 {
    letter-spacing: 2.5px
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul a {
    color: var(--ul-a-color);
    font-weight: 700;


}

.header-nav ul {

    padding: 0;
}

.header-nav span {
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 1px;
    color: var(--ul-a-color);
    font-weight: 700;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--dot-bg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0.0.25);
}

.login {
    opacity: 50%;
}

.header-nav {
    display: none;
}

.burger-menu {
    width: 80%;
    background-color: var(--burger-menu-bg);
    padding: 16px 40px;
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
opacity: 0;
    transition: 1s ease-in-out;
}

.burger-nav ul {
    display: grid;
    text-align: center;
    font-size: 18px;
    gap: 24px;
    line-height: 125%;
    

}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--line-bg);
    opacity: 15%;
}

.close-btn {
    display: none;
}
.main-blur{
filter: blur(20px);
 
}
.burger-menu-show {
opacity: 100%;

}

.open-btn-hide {
    opacity: 0;
}

.close-btn-show {
    display: block;
}
section a:hover{
    background-color: transparent;

}
section a:hover span{
    color: #FF5E5E;
}
section a:active span{
    color: green;
}

.move-up{
    transform: translateY(-5px);
    border-bottom: 1px solid black;
}
.scroll-up{
    width:max-content;
    height: max-content;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 82%;
    left: 90%;
 
}
